<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
           http://code.alibabatech.com/schema/dubbo
           http://code.alibabatech.com/schema/dubbo/dubbo.xsd
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           ">

    <bean id="dubboConfig"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="order" value="1"/>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        <property name="locations" value="classpath:context/dubbo.properties"/>
    </bean>


    <dubbo:application name="${dubbo.appname}"/>
    <dubbo:registry protocol="${dubbo.registry.protocol}"  address="${dubbo.registry.address}" file="${dubbo.registry.file}"/>
    <dubbo:protocol name="${dubbo.protocol}" server="${dubbo.protocol.server}" port="${dubbo.protocol.port}" contextpath="${dubbo.protocol.contextpath}"/>
    <dubbo:provider timeout="${dubbo.provider.timeout}"  retries="2" threads="1000"/>
    <dubbo:annotation package="com.ai.saas.comment.core.api"/>

</beans>